@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  background-color: hsl(218, 23%, 16%);  
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.dice-icon {
  background-color: hsl(150, 100%, 66%);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  cursor: pointer;
}